            body{text-align: center; font-family: 'Source Sans Pro', sans-serif; color:white; background-color: purple; }
            div{margin-bottom: 50px; margin-top:50px }  
            .nav li{display: inline;font-size: 17px;}
            .nav a {padding: 13px}
            .nav a:hover{background-color: cadetblue; padding: 13px }
            .text{margin-left: 20px; margin-right: 20px}
            .parent,.logo,.father{text-align: center;}
            .child,.small,.son{display: inline-block;}
            .child p{ width:300px;margin-left:60px;margin-right: 60px}
            .son p{width:270px;margin-left:20px;margin-right: 20px}
            .son img{width=130px;margin-left: 10px; margin-right: 10px}
            .child button,.son button{background-color: cadetblue;padding: 10px 20px}
            .small img{margin-left: 3px;margin-right: 3px;width:50px}